= form_for(@device, :url => url) do |f|
  = f.hidden_field :category

  = f.label :name
  = f.text_field :name

  - @device.groups.each do |group|
    %h3= group.name

    - group.fields.each do |detail|
      %p
        = f.fields_for :details, detail do |d|
          = d.hidden_field :group
          = d.hidden_field :name

          = d.label :value, "#{detail.name}:"
          = d.text_field :value

  = f.submit