= form_for(@device, :url => url) do |f|
  = f.label :name
  = f.text_field :name
  = f.hidden_field :category

  - @groups.each do |group|
    %h3= group.name
    - group.fields.each do |field_name|
      %p
        = label_tag "details[#{group.name}][#{field_name}]", "#{field_name}:"
        = text_field_tag "details[#{group.name}][#{field_name}]",
                        @details ? @details[group.name][field_name] : ""
  = submit_tag