%h2= @device.name
%p= link_to "Edit this device", edit_room_device_path(@device)

%ul
  - @device.groups.each do |group|
    %h3= group.name
    - group.fields.each do |detail|
      %p
        = "#{detail.name}: "
        = detail.value
